@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@400;500;700&display=swap');

.active-filter-btn{
    background-color: lightcoral !important;
    color: #1a1d20 !important;
    border-color: #111 !important;
}
.title h2{
    border-left: 3px solid #fff;
    padding-left: 10px
}